torch
torchvision
timm
streamlit
albumentations
opencv-python-headless
fastapi
uvicorn
wandb
numpy
pandas
pillow
scikit-learn
requests
tqdm
huggingface_hub
openpyxl
mobile-sam @ git+https://github.com/ChaoningZhang/MobileSAM.git
streamlit-drawable-canvas
